:root {
    --w-Skr: 4rem;
    --w-EvntSkr: 7rem;
    --w-EvntPnt: 4rem;
    --w-Evn: 3rem;
    --w-Lnk: 6rem;
    --w-Team: 8rem;
    --w-Plyr: 10rem;
    --w-Tarih: 7rem;
    --w-Drm: 3rem;
    --w-TF: 3rem;
    --w-MacSet: 20rem;
    --w-SncTxt: 20rem;
    --w-Inf: 20rem;
    --w-Rnk: 4rem;
    --w-Idx: 3rem;
    --w-Snc: 3rem;
    --w-Mac: 3rem;
    --g-Grd: 5px;
    --h-GrdHdr: 40px;
    --h-GrdMain: calc(100vh - calc(var(--h-GrdHdr) + var(--g-Grd) + 5px));
    --h-GrdTblHdr: 40px;
    --h-GrdTblMain: calc(var(--h-GrdMain) - var(--h-GrdTblHdr) - 10px);
    --h-GrdTbl2Hdr: 40px;
    --h-GrdTbl2Ftr: 40px;
    --h-GrdTbl2Main: calc(var(--h-GrdMain) - var(--h-GrdTblHdr) - var(--h-GrdTblFtr) - var(--g-Grd) - 5px);
}

body {
    /*margin: 10px;*/
    height:auto;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.grid {
    display: grid;
    grid-template-areas: "header" "main";
    grid-template-columns: 1fr;
    grid-template-rows: var(--h-GrdHdr) var(--h-GrdMain); /*75px calc(100vh - 80px);*/
    /*grid-gap: var(--g-Grd);*/
}
/*
.grid > * {
    display: grid;
}

 .grid p {
    justify-self: center;
    align-self: center;
 }
    */
.grid_header {
    display: grid;
    align-items: center;
    grid-gap: 1rem;
    overflow-x: auto;
    background-color: beige;
    grid-area: header;
    /*padding-left: 5px;*/
    grid-template-columns: 3rem 3rem 3rem 3rem 1fr max-content;
    justify-items: center;
    /*grid-auto-flow: column;*/
}

.grid_main {
    /*background-color: #C2EAE9;*/
    grid-area: main;
    overflow: auto;
}

.grid_left {
    background-color: #FACFD7;
    grid-area: nav;
}

.grid_right {
    background-color: #6CD1EA;
    grid-area: right;
}

.grid_footer {
    background-color: #F8EFB6;
    grid-area: footer;
}

.gridTbl {
    display: grid;
    grid-template-areas: "headerTbl" "mainTbl";
    grid-template-columns: 1fr;
    grid-template-rows: var(--h-GrdTblHdr) var(--h-GrdTblMain); /*75px calc(100vh - 80px);*/
    grid-gap: var(--g-Grd);
}
.gridTbl_header {
    background-color: teal; /*#C2EAE9;*/
    color: white;
    grid-area: headerTbl;
    display: grid;
    justify-items: left;
    align-items: center;
    grid-auto-flow: column;
    /*grid-template-columns: max-content;*/
    /*grid-gap: 1rem;*/
    /*margin: 0 5px;*/
    padding: 0 5px;
    /*font-weight: bold;*/
}
.gridTbl_main {
    /*background-color: #C2EAE9;*/
    grid-area: mainTbl;
    overflow: auto;
}
/*
.gridTbl > * {
    display: grid;
}
*/

.gridTbl2 {
    display: grid;
    grid-template-areas: "headerTbl2" "mainTbl2" "footerTbl2";
    grid-template-columns: 1fr;
    grid-template-rows: var(--h-GrdTblHdr) var(--h-GrdTblMain) var(--h-GrdTblFtr);
    grid-gap: var(--g-Grd);
}

.gridTbl2 > * {
    display: grid;
}

.gridTbl2 p {
    justify-self: center;
    align-self: center;
}

.gridTbl2_header {
    background-color: #FEBAC5;
    grid-area: headerTbl2;
}

.gridTbl2_main {
    /*background-color: #C2EAE9;*/
    grid-area: mainTbl2;
    overflow: auto;
}

.gridTbl2_footer {
    background-color: yellow;
    grid-area: footerTbl2;
}


.fixTbl {
    table-layout: fixed;
    width: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

    .fixTbl th {
        font-weight: bold;
        background-color: #eaeace;
    }

.fixTbl, th, td {
    padding: 0 5px;
    text-align: center;
    border: .1rem solid #e2d1d1;
}

    .fixTbl td {
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word
    }

    .fixTbl tfoot td{
        border-color:transparent;
    }

.sngLine {
    white-space: nowrap;
}

.txtLeft {
    text-align: left;
}

.txtRight {
    text-align: right;
}

.txtMonoSpace {
    font-family: monospace;
}

.colTeam {
    width: var(--w-Team);
    text-align: left;
}

.colPlyr {
    width: var(--w-Plyr);
    text-align: left;
}

.colRnkBaz {
    width: var(--w-Rnk);
    /*background-color: #f6e7ea;*/
}

.colRnkSon {
    width: var(--w-Rnk);
    /*background-color: #f6e7ea;*/
}

.colRnkIdx {
    width: var(--w-Idx);
    /*background-color: yellow;*/
}

.colSng {
    width: var(--w-Snc);
    /*background-color: powderblue;*/
}

.colDbl {
    width: var(--w-Snc);
    /*background-color: bisque;*/
}

.colSet {
    width: var(--w-Snc);
    /*background-color: #e0fcb4;*/
}

.colMac {
    width: var(--w-Snc);
    /*background-color: #bdd598;*/
}

.colLnk {
    width: var(--w-Lnk);
    /*background-color: #bdd598;*/
}

.colInfo {
    width: var(--w-Inf);
    text-align: left;
    white-space: normal;
    font-size:xx-small;
    /*background-color: #bdd598;*/
}

.colSncTxt {
    width: var(--w-SncTxt);
    text-align: left;
    font-family: Arial;
    /*background-color: #bdd598;*/
}
tbody tr:nth-child(even) {
    background-color: lightgoldenrodyellow;
}

[data-WL="W"] {
    font-weight: bold;
}
[data-CWL="W"] {
    color: green;
}
[data-CWL="L"] {
    color: red;
}

[data-AE="▲"] {
    color: green;
}
[data-AE="▼"] {
    color: red;
}

[data-CCSkl="F"] {
    font-style:italic;
    text-align:right;
}

.curRow {
    background-color: orange !important;
    color: white;
}

